---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import type { PostEntry } from "@/lib/posts";
import { formatPostDate } from "@/lib/posts";
import PostHeader from "@/components/PostHeader.astro";

interface Props {
  frontmatter: PostEntry["data"];
}

const { frontmatter } = Astro.props as Props;
---
<Layout
  title={frontmatter.title}
  description={frontmatter.abstract}
  navTitle={frontmatter.title}
>
  <main class="border-0 outline-none">
    <PostHeader title={frontmatter.title} abstract={frontmatter.abstract} tags={frontmatter.tags} date={formatPostDate(frontmatter.date)} />
    <div class="container max-w-screen-lg relative flex flex-col items-center">
      <slot />
    </div>
  </main>
</Layout>
